{% load i18n pages_tags %}

<div id="toolbar">
<form id="changelist-search" action="" method="post">
    <div>
        <label for="searchbar"><img src="{% load adminmedia %}{% admin_media_prefix %}img/admin/icon_searchbox.png" alt="{% trans "Search" %}" /></label>
        <input type="text" size="25" name="q" value="{{q}}" id="searchbar" />
        <input type="submit" name="g" value="{% trans "Go" %}" />
    </div>
</form>
</div>

<table cellspacing="0" id="page-list">
    <thead>
        <tr>
            <th>
                <input id="action-toggle" type="checkbox" style="display: inline;"/>
            </th>
            <th class="title-cell">{% trans "title" %}</th>
            <th class="language-cell">{% trans "languages" %}</th>
            <th class="last-modification-cell">{% trans "last modification" %}</th>
            <th class="publish-cell">{% trans "published" %}</th>
            <th class="template-cell">{% trans "template" %}</th>
            <th class="author-cell">{% trans "author" %}</th>
        </tr>
    </thead>
    <tbody>
        {% for page in pages %}
            {% pages_admin_menu page %}
        {% endfor %}
    </tbody>
</table>
