{% extends "admin/change_list.html" %}
{% load adminmedia admin_list i18n pages_tags %}

{% block title %}{% trans "List of pages" %}{% endblock %}

{% block bodyclass %}change-list{% endblock %}

{% if not is_popup %}{% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="../../">{% trans "Home" %}</a> &rsaquo; 
    <a href="../">{{ app_label|capfirst|escape }}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst|escape }}
    </div>
{% endblock %}{% endif %}

{% block coltype %}flex{% endblock %}

{% block extrahead %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{{ PAGES_MEDIA_URL }}css/rte.css" />
<link rel="stylesheet" type="text/css" href="{{ PAGES_MEDIA_URL }}css/pages.css" />
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{PAGE_MEDIA_URL}}";</script>
<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.js"></script>
<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/jquery.query.js"></script>
<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/pages.js"></script>
<script type="text/javascript" src="{{ PAGES_MEDIA_URL }}javascript/pages_list.js"></script>
{% endblock %}

{% block content %}
<div id="content-main">

{% if has_add_permission %}
<ul class="object-tools"><li><a href="add/" class="addlink">{% blocktrans with name as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}

<div class="module" id="changelist">

{% block result_list %}
<form method="post" action="">
{% comment %}{% csrf_token %}{% endcomment %}
{% if action_form and actions_on_top and cl.full_result_count %}{% admin_actions %}{% endif %}
{% include "admin/pages/page/change_list_table.html" %}
{% if action_form and actions_on_bottom and cl.full_result_count %}{% admin_actions %}{% endif %}
</form>
{% endblock %}

</div>
</div>
</div>

{% endblock %}
