
.change-list tr{
    padding-left:1.5em;
}

.change-list .table-selected tr {
    background:#ffffd0;
}

.change-list tr.selected {
    background:#ffb;
}

.change-list table tr.target {
    background:#fff;
}

#status-row ul li {
    list-style-type:none;
}
#traduction-helper-content {
    margin-top:1em;
    background:#ffc;
    padding:1em;
    display:none;
    overflow:hidden;
}
a.collapse span{
    font-family: monospace;
}
a.collapse span.collapsed{
    display: none;
}
a.collapsed span{
    display: none;
}
a.collapsed span.collapsed{
    display: inline;
}
