{% extends "admin/base_site.html" %}
{% load i18n l10n %}
{% load url from future %}
{% load admin_urls %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Import Pages' %}
</div>
{% endblock %}

{% block content %}
<p>some text</p>
<ul>
{% for page, created in pages_created %}
<li>{{ page }}, {{ created }}</li>
{% endfor %}
</ul>
<p>errors</p>
<ul>
{% for e in errors %}
<li>{{ e }}</li>
{% endfor %}
</ul>
{% endblock %}

