mptt/
tagging/
build/
coverage/
dist/
whoosh_index/
example/media/
example/collect-static/
django_page_cms.egg-info/
cms.db
local_settings.py
*.pyc
.build
.DS_Store
.idea
pages/testproj/media/
screenshot_*
*~
.tox
ghostdriver.log
