version: '3'

services:
  db:
    image: postgres

  web:
    build: .
    command: bash -c "python example/manage.py migrate && python example/manage.py runserver 0.0.0.0:8000"
    volumes:
      - .:/code/
    ports:
      - "8000:8000"
    depends_on:
      - db

  run-test:
    build: .
    command: bash -c "python pages/test_runner.py"
    depends_on:
      - db

  build-doc:
    build: .
    command: >
      bash -c "pip install .[docs]
      && python setup.py build_sphinx"