include INSTALL
include LICENSE
include AUTHORS
include TODO
include README
include README.rst
include THANKS
include CHANGELOG
include MANIFEST.in
include FAQ
recursive-include doc *
recursive-include gerbi *
recursive-include requirements *
recursive-include gerbi/templates *
recursive-include gerbi/static *
recursive-include gerbi/ *.css
recursive-include gerbi/ *.js
recursive-include gerbi/ *.html
global-exclude *.pyc
global-exclude coverage/*
# this important to prune at the end
prune example
prune dist

