include INSTALL
include LICENSE
include AUTHORS
include TODO
include README
include THANKS
include CHANGELOG
include NEWS
include MANIFEST.in
global-exclude *.pyc
global-exclude *.pyo
recursive-include *.html *.py *.po
recursive-include docs *
recursive-include pages *
