#asgiref==3.2.10
astroid==2.3.3
certifi==2024.2.2
chardet==3.0.4
Django==3.2.18
django-ckeditor==5.9.0
# django-haystack==2.8.1
django-haystack==3.2.1
pysolr
django-js-asset==1.2.2
# django-mptt==0.11.0
django-mptt==0.14.0
django-page-cms==2.0.11
# django-taggit==1.2.0
django-taggit==3.1.0
# djangorestframework==3.11.2
djangorestframework==3.12.4
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
Markdown==3.2.1
mccabe==0.6.1
packaging==20.1
Pillow==9.3.0
polib==1.1.0
pylint==2.4.4
pyparsing==2.4.6
pytz==2019.3
requests==2.31.0
six==1.14.0
sorl-thumbnail==12.10.0
sqlparse==0.4.4
tqdm==4.42.1
typed-ast==1.5.4
urllib3==1.26.6
Whoosh==2.7.4
wrapt==1.11.2
psycopg2-binary
