certifi==2019.11.28
chardet==3.0.4
Django==2.2.10
django-ckeditor==5.8.0
django-haystack==2.8.1
django-js-asset==1.2.2
django-mptt==0.10.0
django-page-cms==2.0.10
django-taggit==1.2.0
djangorestframework==3.10.3
idna==2.8
Markdown==3.1.1
Pillow==6.2.1
polib==1.1.0
pytz==2019.3
requests==2.22.0
sorl-thumbnail==12.5.0
sqlparse==0.3.0
tqdm==4.40.0
urllib3==1.25.7
Whoosh==2.7.4
