{% load i18n gerbi_tags %}

<input id="id_language" name="language" type="hidden" value="{{ value }}" />

<ul class="clearfix">
{% for lang in page_languages %}
    {% ifequal value lang.0 %}
        <li><span class="current">{{ lang.1 }}
        <br>
            {% if page|gerbi_has_content_in:language %}
            <a class="deletelink js-confirm-delete" href="/admin/pages/page/{{ page.id }}/delete-content/{{ language }}/">
            {% trans "Delete this translation" %}</a>
            {% endif %}
        </span>
        </li>
    {% else %}
        {% if page|gerbi_has_content_in:lang.0 %}
            <li><a class="editlink" href="?language={{ lang.0 }}">{{ lang.1 }}</a></li>
        {% else %}
            <li><a class="addlink" href="?language={{ lang.0 }}">{{ lang.1 }}</a></li>
        {% endif %}
    {% endifequal %}
{% endfor %}

</ul>

