{% load pages %}

{% if page|has_permission:request %}
<tr>
<td {% if level %}style="padding-left:{{level}}em"{% endif %}>
    <a href="{{ url }}{{ page.id }}/"  style="margin-right:1em;">{% show_content page "title" %}</a>
</td>
<td>
    {% for lang in page.get_languages %} 
        <a href="{{ url }}{{ page.id }}/?language={{ lang }}">{{ lang }}</a>
        <span style="font-weight:normal">{% if not forloop.last %}|{% endif %}</span>
    {% endfor %}
</td>
<td>
{% if page.status %}
    Published
{% else %}
    Draft
{% endif %}
</td>
<td>
{{ page.get_template }}
</td>
</tr>
{% endif %}

{% if children.count %}
{% for child in children %}
    {% show_admin_menu child url level %}
{% endfor %}
{% endif %}