{% load pages %}

{% if has_permission %}
<tr>
<td {% if level %}style="padding-left:{{level}}em"{% endif %}>
    <span class="move-target" id="move-target-{{ page.id }}" style="display:none;float:right">
        <a href="#" class="left">↑</a> |  
        <a href="#" class="right">↓</a> | 
        <a href="#" class="first-child">↘</a>
    </span>
    <a href="{{ url }}{{ page.id }}/"  style="margin-right:1em;">{{ page.slug }}</a>
</td>
<td>
    <a href="#" class="move" id="move-link-{{ page.id }}">move</a>
</td>
<td>
    {% for lang in page.get_languages %} 
        <a href="{{ url }}{{ page.id }}/?language={{ lang }}">{{ lang }}</a>
        <span style="font-weight:normal">{% if not forloop.last %}|{% endif %}</span>
    {% endfor %}
</td>
<td>
{% if page.status %}
    Published
{% else %}
    Draft
{% endif %}
</td>
<td>
{{ page.get_template }}
</td>
</tr>
{% endif %}

{% if children.count %}
{% for child in children %}
    {% show_admin_menu child url level %}
{% endfor %}
{% endif %}