{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n pages %}
{% block title %}List of pages{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst|escape }}</div>{% endblock %}{% endif %}
{% block coltype %}flex{% endblock %}
{% block extrastyle %}
<style>
.nodes-up {
background:url({% admin_media_prefix %}img/admin/arrow-up.gif) left center no-repeat;
padding-left:16px;
}
.nodes-down {
background:url({% admin_media_prefix %}img/admin/arrow-down.gif) left center no-repeat;
padding-left:16px;
}
.up-down{
    background:#eee;
}
tr{
    padding-left:1.5em;
}
</style>
{% endblock %}
{% block content %}
<div id="content-main">

<h1>Select {{ name }} to change</h1>

{% if has_add_permission %}
<ul class="object-tools"><li><a href="add/" class="addlink">Add {{ name }}</a></li></ul>
{% endif %}

<div class="module" id="changelist">

<table cellspacing="0">
<thead>
<tr>
<th>title</th>
<th>traductions</th>
<th>template</th>
</tr>
</thead>
<tbody>

{% for page in pages %}
    {% show_admin_menu page %}
{% endfor %}

</tbody>
</table>
</div>
</div>
</div>
{% endblock %}