{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia %}
{% block title %}List of page{% endblock %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="/media/css/forms.css" />
{% endblock %}

{% block content %}
<!-- Content -->

<h1>{% if add %}Add{% else %}Change{% endif %} page</h1>
<div id="content-main">

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
  <!--<li><a href="history/" class="historylink">{% trans "History" %}</a></li>-->
  {% if has_absolute_url %}<li><a href="{{ page.get_absolute_url }}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

<form action="" method="post" id="page_form">
<div>

<fieldset class="module aligned ()">

<div class="form-row" style="float:right;width:45%">
  <label for="id_title" class="required">Language helper:</label>
    <select id="traduction_helper_select">
    <option value="" selected="selected">------</option>
    {% for lang in traduction_language %}
    <option value="{{ lang.id }}">{{ lang.name }}</option>
    {% endfor %}
    </select>
    <div id="traduction_helper_content" style="clear:both;margin-top:1em;background:#ffc;padding:1em;display:none"></div>
    <script>
    var get = function(s){ return document.getElementById(s)};
    var helper_select = get('traduction_helper_select');
    var xmlHttp = false;
    /*@cc_on @*/
    /*@if (@_jscript_version >= 5)
    try {xmlHttp = new ActiveXObject("Msxml2.XMLHTTP");} catch (e) {
        try {xmlHttp = new ActiveXObject("Microsoft.XMLHTTP");} catch (e2) {xmlHttp = false;}
    }
    @end @*/
    if (!xmlHttp && typeof XMLHttpRequest != 'undefined') {
        xmlHttp = new XMLHttpRequest();
    }
    helper_select.onchange=function() {
        var index = helper_select.selectedIndex;
        if(index == 0) {
            get('traduction_helper_content').style['display']='none'; return;
        }
        var array = window.location.href.split('?');
        xmlHttp.open("GET", array[0]+'traduction/'+helper_select.options[index].value+'/' , true);
        xmlHttp.onreadystatechange = function(){
            if (xmlHttp.readyState == 4) {
                get('traduction_helper_content').innerHTML = xmlHttp.responseText;
                get('traduction_helper_content').style['display']='block';
            }
        }
        xmlHttp.send(null);
    }
    </script>
</div>


<div class="form-row" >
  {% if form.language.errors %}<ul class="errorlist inline"><li>{{ form.language.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_title" class="required">Language:</label>
    {{ form.language }}
    
    {% if not add %}
    <script>
    var lang_select = document.getElementById('id_language');
    lang_select.onchange=function(){
        var index = lang_select.selectedIndex;
        var array = window.location.href.split('?');
        window.location.href=array[0]+'?language='+ lang_select.options[index].value;
        }
    </script>
    {% endif %}
</div>

<div class="form-row" >
  {% if form.title.errors %}<ul class="errorlist"><li>{{ form.title.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_title" class="required">Title:</label> 
  {{ form.title }}
</div>

<div class="form-row" >
  {% if form.slug.errors %}<ul class="errorlist"><li>{{ form.slug.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_title" class="required">Slug:</label> 
  {{ form.slug }}
</div>

{% if placeholders %}
    {% for field in form %}
        {% for p in placeholders %}
            {% ifnotequal p.name 'title' %}
                {% ifequal field.name p.name %}
<div class="form-row" >
  {% if field.errors %}<ul class="errorlist"><li>{{ field.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_{{ field.name }}">{{ field.name }}:</label>
  {{ field }}
</div>
                {% endifequal %}
            {% endifnotequal %}
        {% endfor %}
    {% endfor %}
{% else %}
<div class="form-row" >
<p>{% trans "No placeholders found in this page template." %}</p>
</div>
{% endif %}

<div class="form-row{% if form.status.errors %} errors{% endif %}" >
  {% if form.status.errors %}<ul class="errorlist"><li>{{ form.status.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_status" class="required">Status:</label> 
  {{ form.status }}
</div>

{% if move_form %}
    <h3>Position in the tree</h3>

    <div class="form-row" >
    {% comment %}
    {% if move_form.parent.errors %}<ul class="errorlist"><li>{{ move_form.parent.errors|join:", " }}</li></ul>{% endif %}
    <label for="id_parent">Parent:</label> 
    {% endcomment %}
    {{ move_form.as_table }}
    </div>
{% endif %}

{% if form.template %}
<div class="form-row" >
  {% if form.template.errors %}<ul class="errorlist"><li>{{ form.template.errors|join:", " }}</li></ul>{% endif %}
  <label for="id_parent">Template:</label> 
  {{ form.template }}
</div>
{% endif %}

</fieldset>

<div class="submit-row">
<p class="float-left"><a href="delete/" class="deletelink">Delete</a></p>
<!--<input type="submit" value="Save and add another" name="_addanother"  />
<input type="submit" value="Save and continue editing" name="_continue" />-->
<input type="submit" value="Save" class="default" />
</div>

<script type="text/javascript">document.getElementById("id_title").focus();</script>

</div>
</form></div>

<br class="clear" />
</div>
<!-- END Content -->
{% endblock %}