{% load pages %}
<li><a href="{{ url }}{{ page.id }}/"  style="margin-right:1em;">{{ page.slug }}</a>
    {% for lang in page.get_languages %} 
        <a href="{{ url }}{{ page.id }}/?language={{ lang }}">{{ lang }}</a>
        <span style="font-weight:normal">|</span>
    {% endfor %}
    {% if page.brothers.count %}
    <span class="up-down">
        {% if not page.is_first %}<a href="{{ url }}{{ page.id }}/up/" class="pages-up">up</a>{% endif %}
        {% if not page.is_last and not page.is_first %}<span style="font-weight:normal">|</span>{% endif %}
        {% if not page.is_last %}<a href="{{ url }}{{ page.id }}/down/" class="pages-down">down</a>{% endif %}
    </span>
    {% endif %}
    {% if children.count %}
    <ul>
    {% for child in children %}
        {% show_admin_menu child url %}
    {% endfor %}
    </ul>
    {% endif %}
</li>
