{% load cache %}
{% load pages %}

<h1>{% block title %}A django minimal CMS based on pages{% endblock %}</h1>

<h2>Complete navigation (as a nested list)</h2>

<ul>
    {% for page in pages %}
        {% show_menu page %}
    {% endfor %}
</ul>

<h2>Display the sub menu of the root page (as a nested list)</h2>

{% if current_page %}
<ul>
    {% show_sub_menu current_page %}
</ul>
{% endif %}

<h2>Content</h2>

<p style="float:right;width:200px">Exemple right column placeholder : {% placeholder right-column current_page Textarea %}</p>

{% if current_page %}
<h3>title : {% placeholder title current_page TextInput %}</h3>
<p>body : {% placeholder body current_page Textarea %}</p>
{% endif %}

{% include "debug.html" %}

