{% load cache %}
{% load pages %}
{% load hierarchical %}

<h1>{% block title %}A django minimal CMS based on pages{% endblock %}</h1>

<h2>Navigation (as nested list)</h2>

<ul>
    {% for page in pages %}
        {% show_menu page %}
    {% endfor %}
</ul>

<h2>Content</h2>

{% if current_page %}
<h3>title : {% placeholder title current_page TextInput %}</h3>
<p>body : {% placeholder body current_page Textarea %}</p>

<p>boum : {% placeholder boum current_page Textarea %}</p>

{% endif %}

<h2>All associated objetcs</h2>
<ul>
{% for obj in all_objects %}
    <li>{{ obj }}</li>
{% endfor %}
</ul>