{% extends "admin/change_form.html" %}
{% load i18n admin_modify adminmedia gerbi_tags %}

{% block title %}{% trans "Edit" %}{% endblock %}

{% block extrahead %}{{ block.super }}
<script type="text/javascript">var media_url = "{{MEDIA_URL}}"; var page_media_url = "{{GERBI_MEDIA_URL}}";</script>
<script type="text/javascript" src="{{ GERBI_MEDIA_URL }}javascript/pages_form.js"></script>
<script type="text/javascript" src="{% admin_media_prefix %}js/urlify.js"></script>
{% endblock %}

{% block content %}
<!-- Content -->
<div id="content-main">
    {% block object-tools %}
        {% if change and not is_popup %}
            <ul class="object-tools">
                {% if has_absolute_url %}<li><a href="{% gerbi_show_absolute_url page %}" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif %}
            </ul>
        {% endif %}
    {% endblock %}

    <form id="page_form" {% if has_file_field %}enctype="multipart/form-data" {% endif %} action="?language={{ request.GET.language }}{%if request.GET.target %}&amp;target={{ request.GET.target }}{% endif %}&amp;{%if request.GET.target %}position={{ request.GET.position }}{% endif %}" method="post">
        {% csrf_token %}

        {% with form.language as field %}
            {% include "admin/gerbi/page/includes/field.html" %}
        {% endwith %}

        <div class="sidebar">

            {% with form.slug as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.status as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.template as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.freeze_date as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.redirect_to as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.redirect_to_url as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.target as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

            {% with form.position as field %}
                {% include "admin/gerbi/page/includes/field.html" %}
            {% endwith %}

        </div>
        <div class="content">
        {% for field in form %}
            {% for p in placeholders %}
                {% ifequal p.name field.name %}
                    {% include "admin/gerbi/page/includes/field.html" %}
                {% endifequal %}
            {% endfor %}
        {% endfor %}
        </div>

        <div style="clear:both">
        {% for inline_admin_formset in inline_admin_formsets %}
            {% include inline_admin_formset.opts.template %}
        {% endfor %}
        </div>

        {% submit_row %}
    </form>
</div>
<script type="text/javascript" charset="utf-8">
<!--
var add_form = {% if add %}1{% else %}0{% endif %};
-->
</script>
<!-- END Content -->

{% endblock %}
