/* specific CSS for the django page admin application */


/* general =========================================== */

a:focus {
    outline: none;
}


/* clearfix =========================================== */

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}


/* help popups =========================================== */

a.popup,
.popup a {
    position: relative;
}
a.popup .help,
.popup a .help {
    display: none;
    position: absolute;
    z-index: 100;
    top: -24px;
    padding: 2px 4px;
    border: 1px solid #888;
    font-size: 10px !important;
    line-height: 12px;
    font-weight: normal;
    color: #333;
    background: #ffb;
    white-space: nowrap;
    text-transform: none;
    cursor: default;
}
a.popup:hover .help,
.popup a:hover .help {
    display: block;
}


/* auto-complete =========================================== */

.ac_results {
    padding: 0px;
    border: 1px solid #ccc;
    background-color: white;
    overflow: hidden;
    z-index: 99999;
}
.ac_results ul {
    width: 100%;
    list-style-position: outside;
    list-style: none;
    padding: 0;
    margin: 0;
}
.ac_results li {
    margin: 0px;
    padding: 2px 4px;
    cursor: default;
    display: block;
    /*
    if width will be 100% horizontal scrollbar will apear
    when scroll mode will be used
    */
    /*width: 100%;*/
    font: menu;
    font-size: 11px;
    /*
    it is very important, if line-height not setted or setted
    in relative units scroll will be broken in firefox
    */
    line-height: 14px;
    overflow: hidden;
}
.ac_loading {
    background: white url('../loading.gif') right center no-repeat;
}
.ac_odd {
    background-color: #eee;
}
.ac_over {
    background-color: #999;
    color: white;
}


/* change-list page =========================================== */

/* Table-wide */
.change-list tbody tr:hover {
    background: #f0f2f8;
}
.change-list tbody tr.highlighted {
    background: #ffb;
}

/* Title cell theader */
.change-list thead .title-cell {
    padding: 5px 10px;
}

/* Title cell tbody */
.change-list tbody .title-cell-container {
    position: relative;
    text-align: left;
    font-weight: bold;
    height: 100%;
    padding-right: 150px;
}
.change-list tbody .title-cell .title {
    float: left;
    margin: 0 0 0 20px;
    padding: 0 14px 0 0;
    background: none;
}
.change-list tbody .title-cell .title:hover {
    background: url(../images/icons/edit.gif) right 0.2em no-repeat;
}

/* Expand-collapse link */
.change-list .expand-collapse {
    position: absolute;
    left: 4px; top: 1px;
    font-family: monospace;
    font-size: 16px;
}
.change-list .expand,
.change-list .expanded .collapse,
.change-list .loading .expand-loading {
    display: block;
}
.change-list .collapse,
.change-list .expanded .expand,
.change-list .loading .expand,
.change-list .loading .collapse,
.change-list .expand-loading {
    display: none;
}
.change-list .expand-loading {
    position: relative;
    top: -2px;
    left: -4px;
}

/* Actions */
#page-list .actions-pages {
    position: absolute;
    right: -5px;
    top: 0;
    margin: 0;
}

.change-list .actions-pages a {
    float: left;
    width: 15px;
    height: 14px;
    padding: 0;
    margin-right: 5px;
    background-repeat: no-repeat;
    opacity: 0.5; filter: alpha(opacity=50);
}
.change-list .actions-pages a:hover,
.change-list tr:hover .actions-pages a {
    opacity: 1; filter: alpha(opacity=100);
}
.change-list .insert-add .actions-pages a,
.change-list .insert-move .actions-pages a {
    display: none;
}
.change-list .actions-pages a.viewlink {
    background-image: url(../images/icons/icons.gif);
    background-position: -2px -72px;
}
.change-list .actions-pages a.movelink {
    background-image: url(../images/icons/icons.gif);
    background-position: -2px -60px;
}
.change-list .actions-pages a.deletelink {
    background-image: url(../images/icons/icons.gif);
    background-position: -2px -12px;
}
.change-list .pagelink-broken {
    float: left;
    height: 12px;
    width: 16px;
    display: block;
    background: url(../images/icons/icons.gif) no-repeat -2px -98px;
    text-indent: -9999px;
    color: red;
    font-weight: bold;
    font-size: 80%;
    margin-left: 16px;
}

.change-list tbody .title-cell a.broken {
    margin-left: 3px;
}
.change-list .actions-pages a.cancellink {
    display: none;
    font-weight: normal;
    opacity: 1;  filter: alpha(opacity=100);
}
.change-list .insert-move .selected .actions-pages a.cancellink {
    display: block;
    width: auto;
    height: auto;
    padding: 0 10px;
    background: #FFFFBB; /* IE6 fix */
}

/* Page Status links */
.change-list .publish-cell {
    vertical-align: center;
    width: 200px;
}
.change-list .publish-cell span,
.status span {
    float: left;
    height: 12px;
    width: 12px;
    display: block;
    background: url(../images/icons/icons.gif) no-repeat -2px -24px;
    text-indent: -9999px;
    margin-top: 6px;
}
.change-list .publish-cell span.draft,
.status span.draft {
    background-position: -2px -24px;
}
.change-list .publish-cell span.published,
.status span.published {
    background-position: -2px -48px;
}
.change-list .publish-cell span.hidden,
.status span.hidden {
    background-position: -2px -36px;
}



/* Move links */
.change-list .insert {
    display: none;
    position: absolute;
    right: 0; top: -4px;
    height: 21px; /* IE6 fix */
}
.change-list .insertable .insert {
    display: block;
}
.change-list .insert a {
    float: left;
    width: 10px; height: 21px;
    padding: 0 5px;
    background: url(../images/icons/insert.gif) no-repeat;
}
.change-list .insert a.left                             { background-position:   5px 0; }
.change-list .insert a.right                            { background-position: -10px 0; }
.change-list .insert a.first-child                      { background-position: -25px 0; width: 14px; }
.change-list .insert-add tr:hover .insert a.left,
.change-list .insert-add .insert a.left:hover           { background-position:   5px -21px; }
.change-list .insert-add tr:hover .insert a.right,
.change-list .insert-add .insert a.right:hover          { background-position: -10px -21px; }
.change-list .insert-add tr:hover .insert a.first-child,
.change-list .insert-add .insert a.first-child:hover    { background-position: -25px -21px; }
.change-list .insert-move tr:hover .insert a.left,
.change-list .insert-move .insert a.left:hover          { background-position:   5px -42px; }
.change-list .insert-move tr:hover .insert a.right,
.change-list .insert-move .insert a.right:hover         { background-position: -10px -42px; }
.change-list .insert-move tr:hover .insert a.first-child,
.change-list .insert-move .insert a.first-child:hover   { background-position: -25px -42px; }
.change-list .insert .help {
    top: -20px;
}
.change-list .insert a.cancellink {
    display: none;
    font-weight: normal;
}
.change-list .insert-add .selected .insert a.cancellink {
    display: block;
    width: auto;
    height: auto;
    margin: 4px 5px;
    padding: 0 5px;
    background: none;
}
.change-list .insert a.cancellink .help {
    top: -24px;
}
.change-list .insert-loading {
    position: absolute;
    left: 0; top: -1px;
    font-size: 16px;
}

/* Languages */
.change-list th.language-cell {
    padding-right: 10px;
}
.change-list .language-cell {
    width: 1%;
    white-space: nowrap;
    padding: 5px 0 5px 10px;
}
.change-list .language-cell ul {
    margin: 0;
    padding: 0;
}
.change-list .language-cell li {
    display: inline;
    list-style: none;
    padding: 0
}
.change-list .language-cell .changelink {
    margin: 0 4px;
    padding: 0 12px 0 0;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
}
.change-list .language-cell .changelink:hover {
    background: url(../images/icons/edit.gif) right 0.2em no-repeat;
}
.change-list .language-cell .addlang {
    color: #ccc;
}
.change-list .language-cell .addlang:hover {
    color: #007418;
    background: url(../images/icons/add.gif) right 0.2em no-repeat;
}

/* Publication status */
.change-list .publish-cell {
    width: 1%;
    white-space: nowrap;
    padding: 0 20px 0 10px;
}
.change-list .publish-cell .box {
    width: 130px;
}

.change-list th.publish-cell {
    padding: 5px 10px;
}
.change-list .publish-cell img {
    width: 10px;
    height: 10px;
}
.change-list .publish-cell .publish-select {
    margin: 2px;
    padding: 1px;
}

/* Publication status */
.change-list .template-cell {
    width: 1%;
    white-space: nowrap;
    padding: 5px 10px;
}

/* autor */
.change-list .author-cell {
    width: 1%;
    white-space: nowrap;
    padding: 5px 10px;
}

/* change-form page =========================================== */

/* Global */
.change-form .sidebar {
    width: 288px;
    float: left;
    display: inline; /* IE6 fix */
    margin-right: 1em;
}
.change-form label {
    width: 90px; /* IE6 fix */
    line-height: 20px;
}
.change-form .sidebar input,
.change-form .sidebar select {
    width: 148px;
}

.change-form .sidebar p.help,
.change-form .sidebar .form-row p.help {
    margin-left: 0;
    padding: 2px 0 0;
}
.change-form .sidebar div.description {
    margin: 5px;
}
.change-form .field-box {
    position: relative;
    float: none;
    margin: 0;
}

/* Title */
.module-general .title label {
    float: none;
    padding-top: 0;
}
.module-general .title input {
    width: 248px;
    font-size: 16px;
}

/* Status */

.module-general #id_status {
    width:140px;
}

.module-general .status img {
    width: 10px;
    height: 10px;
    margin-left:4px;
}

/* Options */
.change-form .module-options .form-row {
    float: left;
    width: 33.3333%;
    margin-right: -1px;
    padding: 0;
    border-bottom: none;
    border-right: 1px solid #eee;
}
.change-form .module-options .form-row .field-box {
    padding: 8px 12px;
}
.change-form .module-options select {
    width: 150px;
}
.change-form .module-options .redirect_to {
    border-right: none;
}

.change-form .module-options .redirect_to_url {
    float: right;
}

.change-form .module-options .redirect_to_url input {
    width: 195px;
}
.change-form .module-options .redirect_to label,
.change-form .module-options .redirect_to_url label {
    width: 94px;
}
/* Languages */
.change-form .module-options .language ul {
    margin: 0;
    padding: 3px 0;
}
.change-form .module-options .language li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0
}
.change-form .module-options .language .editlink,
.change-form .module-options .language .addlink,
.change-form .module-options .language .current {
    float: left;
    display: inline; /* IE6 fix */
    margin: 0 6px 0 0;
    padding: 0 12px 0 0;
    line-height: 16px;
    font-weight: bold;
    text-transform: uppercase;
    background: none;
}
.change-form .module-options .language .editlink:hover {
    background: url(../images/icons/edit.gif) right 0.2em no-repeat;
}
.change-form .module-options .language .addlink {
    color: #ccc;
}
.change-form .module-options .language .addlink:hover {
    color: #007418;
    background: url(../images/icons/add.gif) right 0.2em no-repeat;
}
.change-form .module-options .language .current {
    margin-right: 16px;
    padding: 0 2px;
    border: 1px solid #888;
    color: black;
}

/* Content */
.change-form .module-content .form-row {
    position: relative;
    padding: 0;
}
.change-form .module-content .field-box {
    position: relative;
    float: none;
    padding: 8px 12px;
}
.change-form .module-content .revisions {
    position: absolute;
    top: 8px;
    right: 12px;
    width: 150px;
}
.change-form .module-content .wym_skin_django {
    padding: 0;
}
.change-form .module-content .wym_area_top {
    margin-right: 155px;
}
.change-form .module-content .ui-resizable-handle {
    cursor: s-resize;
}

.change-form .module-content .header_image_title input {
    width: 60%;
}

/* Translation helper */
.change-form .module-translation-helper #translation-helper-content {
    overflow: hidden;
    display: none;
}
.change-form .module-translation-helper .translation-helper-title {
    margin-top: 1em !important;
}
.change-form .module-translation-helper .translation-helper-placeholder {
    overflow: auto;
    max-height: 400px;
    padding: 1em;
    background: #ffc;
}
.change-form .module-translation-helper .translation-helper-placeholder p,
.change-form .module-translation-helper .translation-helper-placeholder h1,
.change-form .module-translation-helper .translation-helper-placeholder h2,
.change-form .module-translation-helper .translation-helper-placeholder h3,
.change-form .module-translation-helper .translation-helper-placeholder h4,
.change-form .module-translation-helper .translation-helper-placeholder h5,
.change-form .module-translation-helper .translation-helper-placeholder h6,
.change-form .module-translation-helper .translation-helper-placeholder pre {
    margin: 0 0 5px !important; padding: 0;
    line-height: 12px;
    text-transform: none;
    color: black; background: none;
}
.change-form .module-translation-helper .translation-helper-placeholder blockquote {
    margin: 0 0 5px;
    line-height: 12px;
    color: black; background: none;
}
.change-form .module-translation-helper .translation-helper-placeholder h1,
.change-form .module-translation-helper .translation-helper-placeholder h2,
.change-form .module-translation-helper .translation-helper-placeholder h3,
.change-form .module-translation-helper .translation-helper-placeholder h4,
.change-form .module-translation-helper .translation-helper-placeholder h5,
.change-form .module-translation-helper .translation-helper-placeholder h6 { font-weight: bold; }
.change-form .module-translation-helper .translation-helper-placeholder h1 { font-size: 20px; line-height: 22px; }
.change-form .module-translation-helper .translation-helper-placeholder h2 { font-size: 18px; line-height: 20px; }
.change-form .module-translation-helper .translation-helper-placeholder h3 { font-size: 16px; line-height: 18px; }
.change-form .module-translation-helper .translation-helper-placeholder h4 { font-size: 14px; line-height: 16px; }
.change-form .module-translation-helper .translation-helper-placeholder h5 { font-size: 12px; line-height: 14px; }
.change-form .module-translation-helper .translation-helper-placeholder h6 { font-size: 11px; line-height: 13px; }

/* Submit */
.change-form .submit-row {
    clear: both;
}

/* page link */
.change-form .module-translation-helper .translation-helper-placeholder .externallink_broken,
.change-form .module-translation-helper .translation-helper-placeholder .pagelink_broken { text-decoration: line-through; }

