{% extends 'index.html' %}

{% block header %}
<h3>Search results <span class="glyphicon glyphicon-search" aria-hidden="true"></span></h3>
<p class="lead">For "{{ query }}"</p>
{% endblock %}

{% block content %}
    <form method="get" action=".">

        <table>
            {{ form.as_table }}
            <tr>
                <td>&nbsp;</td>
                <td>
                    <input type="submit" value="Search">
                </td>
            </tr>
        </table>
    
        <!-- Begin faceting. -->
        <h2>By tags</h2>{{facets.fields}}
    
        <div>
            <dl>
                {% if facets.fields.tags %}
                    <dt>Tags</dt>
                    {# Provide only the top 5 tags #}
                    {% for tag in facets.fields.tags|slice:":5" %}
                        <dd><a href="{{ request.get_full_path }}&amp;selected_facets=author_exact:{{ author.0|urlencode }}">{{ tag.0 }}</a> ({{ tag.1 }})</dd>
                    {% endfor %}
                {% else %}
                    <p>No tag facets.</p>
                {% endif %}
            </dl>
        </div>
        <!-- End faceting -->


        {% if query %}
            <ul>
            {% for result in page_obj.object_list %}
                <li>
                    <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}
                    </a>
                    {{ result.object.expose_content }}
                </li>

            {% empty %}
                <li>No results found. Did you build the search index? (python manage.py rebuild_index)</li>
            {% endfor %}
            </ul>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}
    </form>
{% endblock %}