{% extends "admin/base_site.html" %}
{% load adminmedia admin_list i18n hierarchical %}
{% block title %}List of nodes{% endblock %}
{% block stylesheet %}{% admin_media_prefix %}css/changelists.css{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% if not is_popup %}{% block breadcrumbs %}<div class="breadcrumbs"><a href="../../">{% trans "Home" %}</a> &rsaquo; {{ opts.verbose_name_plural|capfirst|escape }}</div>{% endblock %}{% endif %}
{% block coltype %}flex{% endblock %}
{% block extrastyle %}
<style>
.nodes-up {
background:url(/media/img/admin/arrow-up.gif) left center no-repeat;
padding-left:12px;
}
.nodes-down {
background:url(/media/img/admin/arrow-down.gif) left center no-repeat;
padding-left:12px;
}
.up-down{
    background:#eee;
}
tr{
    padding-left:1em;
}
</style>
{% endblock %}
{% block content %}
<div id="content-main">
{% block object-tools %}
{% if has_add_permission %}
<ul class="object-tools"><li><a href="add/{% if is_popup %}?_popup=1{% endif %}" class="addlink">{% blocktrans with cl.opts.verbose_name|escape as name %}Add {{ name }}{% endblocktrans %}</a></li></ul>
{% endif %}
{% endblock %}
<h1>Select node to change</h1>

<ul class="object-tools"><li><a href="add/" class="addlink">Add node</a></li></ul>

<div class="module" id="changelist">

<table cellspacing="0">
<thead>
<tr>
<th>nodes</th>
<th>linked objects</th>
</tr>
</thead>
<tbody>

{% for node in nodes %}
<tr>
    {% show_admin_menu node %}
</tr>
{% endfor %}

</tbody>
</table>


</div>
</div>
</div>
{% endblock %}